@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-sky-100 dark:bg-zinc-900;
    @apply text-teal-800 dark:text-lime-400;

    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    @apply text-amber-800 dark:text-white;
}
